---
import { CONTENT } from "@config/content.ts";
const { ucapan } = CONTENT;
---

<div class="ucapan-gallery-section js-required" data-reveal="ucapan-gallery" hidden>
  <h3 class="ucapan-gallery-title">Ucapan dari Sahabat PALASMA</h3>
  <div class="ucapan-gallery" id="ucapan-gallery">
    <p class="ucapan-gallery-empty" id="ucapan-gallery-empty">
      {ucapan.emptyGallery}
    </p>
  </div>
  <div class="ucapan-load-more-wrapper" id="ucapan-load-more-wrapper" hidden>
    <button type="button" id="ucapan-load-more" class="ucapan-load-more-btn touch-target">
      {ucapan.loadMoreLabel}
    </button>
    <span class="ucapan-no-more" id="ucapan-no-more" hidden>{ucapan.noMoreMessages}</span>
  </div>
</div>
